.presentation {
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.presentation h1 {
  margin-bottom: 10px;
  color: #3f51b5;
}

.presentation p {
  font-size: 16px;
  color: #555;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.product-card mat-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.card-btn {
  margin-top: 15px;
  align-self: flex-start;
  background-color: #fdfeff;
  color: rgb(255, 255, 255); /* letra blanca */
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.2s;
}

.card-btn:hover {
  background-color: #cccbcb;
  transform: translateY(-2px);
}
